/*css reset zerar as margens*/
* {
    margin: 0;
    padding: 0;
}

body {
    font: 20px Inter, Arial;
    color: #333;
    padding-top: 100px;
}

.header {
    background: white;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px #ccc;
    padding: 10px;
    box-sizing: border-box;

}

.sobre {
    margin-top: 30px;
}

.header .header-logo img {
    width: 300px;
}

.header .header-menu {
    border: 1px solid #333;
    padding: 10px;
    color: #333;
    text-decoration: none;
    float: right;
    border-radius: 5px;
}


.header .header-nav ul li {
    margin: 10px;
}

.header .header-nav ul li a {
    text-decoration: none;
    color: red;
}

.header .header-nav ul li a:hover {
    color: green;
}

.header .header-nav ul {
    list-style: none;
}

.header .header-nav {
    display: none;
}

.show {
    display: block !important;
}

.banner {
    min-height: 800px;
}

img {
    width: 80%;
}

@media(min-width:460px) {

    .header img {
        width: 22%;

    }

    .flex img {
        width: 100%;
    }

    .texto p {
        font-size: 32px;
    }

    .play img {
        width: 100%;
    }

    .header .header-menu {
        display: none;

    }

    .header .header-nav {
        display: block;
    }

    .header .header-nav {
        float: right;
        margin-top: 11px;

    }

    .header .header-nav ul li {
        display: inline-block;
    }
}

.texto {
    font-size: arial verdana;
    display: flex;
    color: black;
    padding: 50px;
    box-sizing: border-box;
    margin-top: 2%;
    text-align: center;

}

h1 {
    text-align: center;
    margin-top: 15px;
}

.play h1 a {
    list-style: none;
    margin: 15px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: red;
    text-align: center;

}

.contatod h1 {
    text-align: center;
    margin-top: 30px;
}

.contatod ul li p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.play a:hover {
    color: green;
}

.main-footer {
    display: flex;
    background-color: black;
    padding-top: 28px;
    padding-bottom: 28px;
    justify-content: center;
    color: white;

}